<a href="https://colab.research.google.com/github/RandyPanGit/Pandas-base/blob/main/Pandas_Series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas Series 筆記

In [1]:
import pandas as pd

## 建立Pandas Series

In [2]:
phone = pd.Series(["Apple", "Samsung", "Mi", "Sony"])
print(phone)

0      Apple
1    Samsung
2         Mi
3       Sony
dtype: object

## 指定索引值

In [3]:
phone = pd.Series(["Apple", "Samsung", "Mi", "Sony"], index=["p1", "p2", "p3", "p4"])
print(phone)

p1      Apple
p2    Samsung
p3         Mi
p4       Sony
dtype: object

## 取值

In [4]:
phone = pd.Series(["Apple", "Samsung", "Mi", "Sony"], index=["p1", "p2", "p3", "p4"])
print(phone[1])  # 依據資料順序取值(從0開始計算)
print(phone["p3"])  # 依據資料索引值取值

Samsung
Mi

## 新增資料

In [5]:
phone = pd.Series(["Apple", "Samsung", "Mi", "Sony"])
data = pd.Series(["Htc", "Oppo"])  # 新增的資料
combined = phone.append(data)
print(combined)

0      Apple
1    Samsung
2         Mi
3       Sony
0        Htc
1       Oppo
dtype: object

## 新增資料並接續原有索引值

In [7]:
phone = pd.Series(["Apple", "Samsung", "Mi", "Sony"])
data = pd.Series(["Htc", "Oppo"])  # 新增的資料
combined = phone.append(data, ignore_index=True)
print(combined)

0      Apple
1    Samsung
2         Mi
3       Sony
4        Htc
5       Oppo
dtype: object

## 修改Pandas Series資料

In [8]:
phone = pd.Series(["Apple", "Samsung", "Mi", "Sony"])
phone[1] = "Oppo"
print(phone)

0    Apple
1     Oppo
2       Mi
3     Sony
dtype: object

In [9]:
phone = pd.Series(["Apple", "Samsung", "Mi", "Sony"], index=["p1", "p2", "p3", "p4"])
phone["p3"] = "Oppo"
print(phone)

p1      Apple
p2    Samsung
p3       Oppo
p4       Sony
dtype: object

## 取得Pandas Series資料筆數

In [21]:
phone = pd.Series(["Apple", "Samsung", "Mi", "Sony"])
print(phone.size)  # 執行結果4

4

## Pandas Series字串運算

In [10]:
phone = pd.Series(["Apple", "Samsung", "Mi", "Sony"])
print(phone.str.upper())  # 將字串資料轉換為大寫

0      APPLE
1    SAMSUNG
2         MI
3       SONY
dtype: object

In [11]:
phone = pd.Series(["Apple", "Samsung", "Mi", "Sony"])
print(phone.str.lower())  # 將字串資料轉換為小寫

0      apple
1    samsung
2         mi
3       sony
dtype: object

In [12]:
phone = pd.Series(["Apple", "Samsung", "Mi", "Sony"])
print(phone.str.contains("Sa"))  # 搜尋是否包含特定字串

0    False
1     True
2    False
3    False
dtype: bool

In [13]:
phone = pd.Series(["Apple", "Samsung", "Mi", "Sony"])
print(phone.str.cat(sep=";"))  # 利用自訂分隔符號連接字串

Apple;Samsung;Mi;Sony

In [14]:
phone = pd.Series(["Apple", "Samsung", "Mi", "Sony"])
print(phone.str.replace("Samsung", "Oppo"))  # 將Samsung取代為Oppo

0    Apple
1     Oppo
2       Mi
3     Sony
dtype: object

## Pandas Series數值運算

In [15]:
numbers = pd.Series([22, 5, 10, 12, 6, 30])
print(numbers.max())  # 執行結果30

30

In [16]:
numbers = pd.Series([22, 5, 10, 12, 6, 30])
print(numbers.min())  #執行結果5

5

In [17]:
numbers = pd.Series([22, 5, 10, 12, 6, 30])
print(numbers.sum())  #執行結果85

85

In [18]:
numbers = pd.Series([22, 5, 10, 12, 6, 30])
print(numbers.mean())  # 執行結果14.166666666666666

14.166666666666666

In [19]:
numbers = pd.Series([22, 5, 10, 12, 6, 30])
print(numbers.nlargest(2))  # 最大的2個數值

5    30
0    22
dtype: int64

In [20]:
numbers = pd.Series([22, 5, 10, 12, 6, 30])
print(numbers.nsmallest(2))  # 最小的2個數值

1    5
4    6
dtype: int64